# Ignore node_modules for the entire project
node_modules/

# Ignore package-lock.json files
**/package-lock.json

# Ignore Docker image files
***.env
# Ignore files generated during the build process
**/dist/

# Ignore sensitive files in portainer
portainer/data/certs/
portainer/data/chisel/
portainer/data/docker_config/
portainer/data/tls/


# Ignore acme.json and passwd.passwd in traefik
traefik/data/passwd.passwd
